a {
    color: #fff;
    text-decoration: none;
}

body {
    background-color:  #cb92ff;
    font-family: "PT Sans", "PT Serif", serif;
    text-transform: uppercase;
}

h1 {
    color: #e4ffa7;
    font-size: 60px;
    margin: 0;
    position: relative;
    top: 40px;
}

h2 {
    color: #e4ffa7;
}

h3 {
    color: #fff;
    font-size: 25px;
    font-style: italic;
    font-weight: 100;
    margin-bottom: 50px;
}

img {
    z-index: -1;
}

p {
    color: #fff;
}

main {
    align-items: center;
    display: flex;
    justify-content: center;
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.info {
    align-items: center;
    display: grid;
    grid-template-columns: 120px 400px;
    grid-template-rows: 60px;
    justify-items: left;
    grid-column: 1 / 2;
    grid-row: 2 / 2;
}

.info p {
    grid-column: 2 / 2;
    grid-row: 1 / 1;
}

.info h2 {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
}

#pic {
    margin-right: 5%;
}

#about {
    display: flex;
    flex-direction: column;
}

footer {
    font-size: 10px;
    position: absolute;
    bottom: 5px;
}

@media only screen and (max-width: 800px) {
    img {
      width: 200px;
    }
    
    h1 {
      font-size: 30px;
      top: 20px;
    }
    
    p {
      font-size: 12px; 
    }

    h2 {
        font-size: 18px;
    }

    h3 {
        font-size: 18px;
        margin-bottom: 20px;
    }

    .info {
        grid-template-columns: 90px 300px;
        grid-template-rows: 35px;
    }
  }
